@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    border: none;
    margin: 0px;
    box-sizing: border-box;
}

.tituloCadastroAdulto{
    font-weight: 300;
    font-size: 40px;
}
.fundoGeralTelaCadastro{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: #f0f0f0;    
}
.fundoCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 15px;
    height: 100%;
    width: 75%;
    text-align: center;
}
.logo{
    max-height: 55px;
    max-width: 125px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding-right: 15px;
    padding-top: 15px;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    z-index: 10;
}
.entrada{
    background: #59D1F6;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s;
    border-radius: 50px;
    padding: 15px;
    margin: 20px;
    height: 50px;
    width: 350px;
}
input::placeholder{
    color: black;
}
.btnConfirmarCadastro{
    background: #F445A1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s;
    color: #f0f0f0;
    font-weight: 800;
    border-radius: 50px;
    padding: 15px;
    margin: 20px;
    height: 50px;
    width: 175px;
}
.fundoRosaImg{
    background-color: #F445A196;
}
.fotoadult{
    width: 100%;
    height: auto;
    object-fit: cover; 
}