.btnLerClassPrimary{
    border-radius: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-content2{
    background-color: #F445A1;
    color: #FFFF;
    border-radius: 5px;
}