*{
    padding: 0px;
    border: none;
    margin: 0px;
    box-sizing: border-box;
}




.tituloIA{
    margin: 1em 0em 0em 0em !important;
}

.ContainerIAeFiltro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40em;
}

.OculosEscolhaIa{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FotoOculosIA{
    width: 68em;
    margin-top: 20em;
    margin-bottom: 15em;
    margin-left: 6em;
}

.btnFiltroTelaIa{
    position: absolute;
    margin-right: 19.5em;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 27px;
    background-color: white;
    border-radius: 56px;
    padding: 3px;
    font-weight: bolder;
    width: 7.5em;
    margin-top: 18px;
    text-align: center;
    color: #000000a6;
    height: 1.5em;
}

.btnIaTelaIa{
    position: absolute;
    margin-left: 21.5em;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 27px;
    background-color: white;
    border-radius: 56px;
    padding: 2px;
    font-weight: bolder;
    width: 7.5em;
    margin-top: 18px;
    text-align: center;
    color: #000000a6;
    height: 1.5em;
}

.btnFiltroTelaIa:hover, .btnIaTelaIa:hover{
    transform: translate(0px, -3px);
    color: #2FA5CA;

    transition: 0.5s ease-in-out;
}