*{
    padding: 0px;
    border: none;
    margin: 0px;
    box-sizing: border-box;
}

.controlDeImg{
    display: flex;
    justify-content: center;
}

.chamadaPais{
    margin: 15px;
    padding: 30px;
    color: #FFFF;
    position: absolute;
    background-color: rgba(199, 199, 199, 0.144);
    border-radius: 40px;
}

.fotoCapaBlog{
    height: 80%;
    width: 80vw;
    border-radius: 28px;
}
.divisaoSombra{
    border: none;
    border-top: 2px solid #000;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25px);
}

/* Configuração das iamgens dos blogs */
#blogs{
    display: grid;
    margin-left: 80px;
    margin-right: 80px;
}
#contentBlogs{
    display: flex;
    align-items: center;
    gap: 30px;
}
#fotoBlogsConfig{
    height: auto;
    width: 30vw;
    box-shadow: 0 4px 8px rgba(0, 1, 0, 0.8);
    border-radius: 50%;
}
#backgroundBlogs{
    width: 59%;
    height: 60%;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 1, 0, 0.8);
}
#titleBlogs{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
}
#paragraphBlogs{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
    text-indent: 20px;
    
}
#btnLerMais1{
    padding-top: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    display: flex;
    margin-right: 20px;
}
#btnLerMais2{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 2%;
}
#btnLerMais3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    display: flex;
    margin-right: 20px;
}
#btnLerMais4{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 6%;
}
#btnLerMais5{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    align-items: flex-end;
    position: relative;
    display: flex;
    margin-right: 20px;
}
#btnLerMais6{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 10%;
}
.primeiroPost{
    background-color: #2B616D;
}
.segundoPost{
    background-color: #F445A1;
}
.terceiroPost{
    background-color: #FFDA7B;
}
.quartoPost{
    background-color: #360568;
}
.quintoPost{
    background-color: #59D1F6;
}
.sextoPost{
    background-color: #CA7DF9;
}