@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.tituloParceiros {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 20px;
}

.logoParceiro01 {
  width: 10em;
  height: 10em;
  background-image: url(../../assets/images/logoParceiros/logoNavgard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  bottom: 3em;
}

.logoParceiro02 {
  width: 10em;
  height: 10em;
  background-image: url(../../assets/images/logoParceiros/logoKenzo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  bottom: 3.5em;
}

.logoParceiro03 {
  width: 10em;
  height: 10em;
  background-image: url(../../assets/images/logoParceiros/logoJovem.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  bottom: 3em;
}

.logoParceiro04 {
  width: 10em;
  height: 10em;
  background-image: url(../../assets/images/logoParceiros/logoSymbee.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  bottom: 3em;
}

.seccaoParceiro01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25em;
  background: linear-gradient(137deg, #59d1f6 0%, #47a6c3 50%, #347a90 100%);
  margin: 3em 0em 3em 0em;
  padding: 1em;
}

.conteudoParceiro01,
.conteudoParceiro03 {
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.conteudoParceiro01 p,
.conteudoParceiro03 p {
  text-align: left;
  width: 28em;
  font-size: 21px;
}

.seccaoParceiro02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30em;
  background: linear-gradient(120deg, #f9bb1c 0%, #ffb70025 100%),
    url(../../assets/images/imagemPagParceiros/oculos.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3em 0em 3em 0em;
  padding: 1em;
}

.conteudoParceiro02 {
  display: flex;
  color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  background-color: #ffb800;
  height: 10em;
  width: 37em;
  padding: 12px;
  border-radius: 2em;
  gap: 15px;
}

.seccaoParceiro03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25em;
  background: linear-gradient(150deg, #b12e2e 0%, #300000 100%);
  margin: 3em 0em 3em 0em;
  padding: 1em;
}

.seccaoParceiro04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30em;
  background: linear-gradient(150deg, transparent 10%, #ee9b11 55%),
    url(../../assets/images/imagemPagParceiros/fundoAbelha.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3em 0em 0em 0em;
  padding: 1em;
}

.conteudoParceiro04 {
  display: flex;
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  flex-direction: column;
  align-items: center;

  background-color: #00000033;
  height: 13em;
  width: 36em;
  padding: 12px;
  border-radius: 2em;
  gap: 10px;
}

.redesSociasParceiro {
  display: flex;
  justify-content: space-evenly;
  width: 10em;
}

@media (max-width: 750px) {
  .tituloParceiros {
    font-size: 1.8em;
    margin-top: 10px;
  }

  .seccaoParceiro01,
  .seccaoParceiro02,
  .seccaoParceiro03,
  .seccaoParceiro04 {
    height: auto;
    padding: 1em;
    margin: 1em 0;
  }

  .conteudoParceiro01,
  .conteudoParceiro02,
  .conteudoParceiro03,
  .conteudoParceiro04 {
    font-size: 1.2em;
    padding: 10px;
  }

  .logoParceiro01,
  .logoParceiro02,
  .logoParceiro03,
  .logoParceiro04 {
    width: 8em;
    height: 8em;
    bottom: 2em;
  }

  .redesSociasParceiro {
    justify-content: center;
    margin-top: 10px;
  }

  .redesSociasParceiro img {
    width: 35px;
    height: 25px;
  }
}

@media (max-width: 500px) {
  .conteudoParceiro01 p,
  .conteudoParceiro03 p {
    text-align: left;
    width: 18em;
    font-size: 21px;
  }

  .tituloParceiros {
    font-size: 1.5em;
    margin-top: 5px;
  }

  .seccaoParceiro01,
  .seccaoParceiro02,
  .seccaoParceiro03,
  .seccaoParceiro04 {
    height: 30em;
    padding: 0.5em;
    margin: 1em 0;
  }

  .conteudoParceiro01,
  .conteudoParceiro02,
  .conteudoParceiro03,
  .conteudoParceiro04 {
    font-size: 1em;
    padding: 8px;
  }

  .conteudoParceiro02 {
    height: 12em;
    width: 28em;
  }

  .conteudoParceiro04 {
    height: 14em;
    width: 28em;
  }

  .logoParceiro01,
  .logoParceiro02,
  .logoParceiro03,
  .logoParceiro04 {
    width: 6em;
    height: 6em;
    bottom: 1em;
  }

  .redesSociasParceiro {
    justify-content: center;
    margin-top: 5px;
    gap: 1em;
  }

  .redesSociasParceiro img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 380px) {
  .conteudoParceiro02 {
    height: 17em;
    width: 19em;
  }

  .conteudoParceiro04 {
    height: 17em;
    width: 22em;
  }

  .conteudoParceiro01 p,
  .conteudoParceiro03 p {
    width: 15em;
  }
}
