@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0px;
    border: none;
    margin: 0px;
    box-sizing: border-box;
}

.controlDeVideo {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.chamadaControl {
    position: absolute;
}

.chamadaPais {
    margin: 15px;
    padding: 30px;
    width: 510px;
    color: #FFF;
    background-color: rgba(199, 199, 199, 0.144);
    /* Cor de fundo translúcida */
    border-radius: 40px;
}

/* missão */
.controlTextoMissao {
    display: flex;
    margin-top: 50px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 50px;
}

.tituloMissao {
    font-weight: 800;
    color: #59D1F6;
    text-align: center;
    padding-right: 10px;
    width: 700px;
    font-family: 'Montserrat',sans-serif;
}

.linhaVertical {
    width: 8px;
    height: 100px;
    background-color: #F445A1;
}

.paragraphNossaMissao {
    font-size: 20px;
    padding-left: 25px;
    font-weight: 600;
    text-align: justify;
    font-family: 'Montserrat',sans-serif;
}

.controlTextosImagensVisao {
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
}

.controlGeralCirculos {
    display: flex;
    z-index: -1;
}

#circulos {
    border-radius: 50%;
    /* Faz com que o elemento tenha formato circular */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Círculo externo (maior) */
.circulo-externo {
    width: 500px;
    height: 500px;
    background-color: #FFDF97;
}

/* Círculo médio (menor que o externo) */
.circulo-medio {
    width: 400px;
    height: 400px;
    background-color: #FFD473;
}

/* Círculo interno (o menor) */
.circulo-interno {
    width: 300px;
    height: 300px;
    background-color: #FFC239;
}

.meninoCirculoAmarelo {
    width: 400px;
    height: 450px;
}

/* Círculo Azul config */
.circulo-azul-externo {
    width: 150px;
    height: 150px;
    background-color: #59D1F6;
    /* Cor azul */
    position: absolute;
    bottom: -55px;
    /* Posiciona o círculo azul parcialmente abaixo do círculo amarelo */
    left: 120px;
    /* Ajusta a posição horizontal (meio do círculo amarelo) */
}

/* Círculo médio (menor que o externo) */
.circulo-azul-medio {
    width: 110px;
    height: 110px;
    background-color: #2387A6;
}

/* Círculo interno (o menor) */
.circulo-azul-interno {
    width: 70px;
    height: 70px;
    background-color: #0D566C;
}

/* Círculo roxo Config */
.circulo-roxo-externo {
    width: 240px;
    height: 240px;
    background-color: #F445A1;
    /* Cor roxa/rosa */
    position: absolute;
    bottom: -65px;
    /* Posiciona o círculo roxo parcialmente abaixo do círculo amarelo */
    left: 250px;
    /* Posiciona ao lado do círculo azul */
}

.circulo-roxo-medio {
    width: 170px;
    height: 170px;
    background-color: #9D2F67;
}

/* Círculo interno (o menor) */
.circulo-roxo-interno {
    width: 110px;
    height: 110px;
    background-color: #C93781;
}

/* Configuração dos textos da visão */
.backgroundVisao {
    z-index: 10;
    background-color: #FFF;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    border: 5px solid #0D566C;
    width: 450px;
    border-radius: 10px;
}

.tituloVisao {
    padding-left: 20px;
    font-weight: 800;
    font-size: 20px;
    color: #59D1F6;
    text-align: left;
    font-family: 'Montserrat',sans-serif;
}

.TxtVisaoTelaSobre{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.espacoEmBrancoPImagens {
    width: 300px;
    height: 100px;
}

.controleTextoValores {
    margin: 20px;
    display: flex;
    width: 450px;
    height: 200px;
    justify-content: center;
}

.textoSobreValores {
    text-align: center;
    font-size: 20px;
    width: 300px;
    padding-left: 20px;
    font-weight: 800;
    font-size: 30px;
    color: #59D1F6;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}

.linhaHorizontalRosa {
    max-width: 80%;
    margin-left: 10%;
    border-radius: 50px;
    height: 3px;
    background-color: #F445A1;
    margin-bottom: 50px;
}

/* Qual é nossa origem */

.nossaOrigem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    height: 60px;
    max-width: 50%;
    font-weight: 600;
    font-size: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #59D1F6;
    color: #FFF;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.elementosNossaOrigem {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.postItHistoria {
    text-align: center;
    font-weight: 600;
    max-width: 30%;
    max-height: 200px;
    padding: 20px;
    background-color: #FFDF97;
    color: black;
}

.postItHistoria > p {
    font-family: 'Montserrat', sans-serif;
}

.iconesNossaOrigem {
    height: 300px;
    width: 300px;
}

.imgTropa {
    height: 500px;
    width: 500px;
}
.imgProa{
    width: 200px;
    height: 200px;
    margin-right: 30px;
}
.controlProa {
    margin-bottom: 50px;
    display: flex;
    margin-top: 50px;
    margin-right: 15%;
    margin-left: 15%;

}
.paragraphProa{
    margin-left: 60px;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
    width: 600px;
    font-family: 'Montserrat', sans-serif;
}
.linhaVerticalProa{
    width: 4px;
    height: 180px;
    background-color: #F445A1;
}