@charset "UTF-8";

/*tamanho Imagem carrosel width 1510*/

.carousel{
    margin-top: 3em;
}

.carousel-indicators [data-bs-target]{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0D566C;
}

.carousel-indicators {
    margin-bottom: -3em;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-control-next-icon{
    display: none;
}

.carousel-control-prev-icon{
    display: none;
}

.txtPrimeiroSlide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    font-family: 'montserrat';
    font-weight: bolder;
}

.txtSegundoSlide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    font-family: 'montserrat';
    font-weight: bolder;
}

.txtTerceiroSlide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    font-family: 'montserrat';
    font-weight: bolder;
}

.txtQuartoSlide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    font-family: 'montserrat';
    font-weight: bolder;
}

.btnCarrosel01, .btnCarrosel02, .btnCarrosel03, .btnCarrosel04{
    text-decoration: none;
    color: #000000a6;

    background-color: rgb(255, 255, 255);
    margin: 0px 15px 0px 15px;
    width: 21.5em;
    border-radius: 40px;

    font-family: 'montserrat';
    font-weight: 700;
    height: 2em;
    padding: 5px;
}


.btnCarrosel01:hover{
    transform: translate(0px, -3px);
    color: white;
    background-color: #0D566C;

    transition: 0.5s ease-in-out;
}

.btnCarrosel02:hover{
    transform: translate(0px, -3px);
    color: white;
    background-color: #aa4a1b;

    transition: 0.5s ease-in-out;
}

.btnCarrosel03:hover{
    transform: translate(0px, -3px);
    color: white;
    background-color: #ff7000;

    transition: 0.5s ease-in-out;
}

.btnCarrosel04:hover{
    transform: translate(0px, -3px);
    color: white;
    background-color:#4d84cc ;

    transition: 0.5s ease-in-out;
}

@media (max-width:1000px){
    .carousel-item.active{
        justify-content: left;
    }
    .txtPrimeiroSlide, .txtSegundoSlide, .txtTerceiroSlide, .txtQuartoSlide{
        align-items: center;
        color: white;
        background-color: #65656594;
        margin-right: 0em !important;
    }

    .btnCarrosel01, .btnCarrosel02, .btnCarrosel03, .btnCarrosel04{
        width: 10em;
    }
}

@media (max-width:1920px){
    .txtPrimeiroSlide, .txtSegundoSlide, .txtTerceiroSlide, .txtQuartoSlide{
        margin-right: 6em;
    }
}