@charset "UTF-8";

/*tamanho Imagem carrosel width 1510*/

.carousel{
    margin-top: 3em;
}

.carousel-indicators [data-bs-target]{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0D566C;
}

.carousel-indicators {
    margin-bottom: -3em;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-control-next-icon{
    display: none;
}

.carousel-control-prev-icon{
    display: none;
}

.txtPrimeiroSlide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #2B616D;
    font-family: 'montserrat';
    font-weight: bolder;
}

.txtSegundoSlide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #aa4a1b;
    font-family: 'montserrat';
    font-weight: bolder;
}

.txtTerceiroSlide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ff7000;
    font-family: 'montserrat';
    font-weight: bolder;
}

.btnCarrosel01{
    text-decoration: none;
    color: #000000a6;

    background-color: rgb(255, 255, 255);
    margin: 0px 15px 0px 15px;
    width: 21.5em;
    border-radius: 40px;

    font-family: 'montserrat';
    font-weight: 700;
    height: 2em;
    padding: 5px;
}

.btnCarrosel02{
    text-decoration: none;
    color: #000000a6;

    background-color: rgb(255, 255, 255);
    margin: 0px 15px 0px 15px;
    width: 21.5em;
    border-radius: 40px;

    font-family: 'montserrat';
    font-weight: 700;
    height: 2em;
    padding: 5px;
}

.btnCarrosel03{
    text-decoration: none;
    color: #000000a6;

    background-color: rgb(255, 255, 255);
    margin: 0px 15px 0px 15px;
    width: 21.5em;
    border-radius: 40px;

    font-family: 'montserrat';
    font-weight: 700;
    height: 2em;
    padding: 5px;
}


.btnCarrosel01:hover{
    transform: translate(0px, -3px);
    color: white;
    background-color: #0D566C;

    transition: 0.5s ease-in-out;
}

.btnCarrosel02:hover{
    transform: translate(0px, -3px);
    color: white;
    background-color: #aa4a1b;

    transition: 0.5s ease-in-out;
}

.btnCarrosel03:hover{
    transform: translate(0px, -3px);
    color: white;
    background-color: #ff7000;

    transition: 0.5s ease-in-out;
}



@media (max-width:1000px){
    .carousel-item.active{
        justify-content: left;
    }
    .txtPrimeiroSlide, .txtSegundoSlide, .txtTerceiroSlide{
        align-items: center;
        color: white;
        background-color: #65656594;
    }

    .btnCarrosel01, .btnCarrosel02, .btnCarrosel03{
        width: 10em;
    }
}