@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F2E7E7;
}

h1 {
    margin-bottom: 70px; /*ta foda alinhar o title*/
    color: black;
}

.circulos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.circulo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0 35px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.circulo.azul {
    background-color: #59D1F6;
}

.circulo.rosa {
    background-color: #D42D85;
}

.circulo.amarelo {
    background-color: #FFB100;
}

.circulo.ativo {
    border: 1px solid rgb(175, 126, 126);
}

.circulo.ativo::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    top: -15%;
    left: -15%;
    z-index: -1;
}

.circulo.azul.ativo::before {
    background-color: rgba(33, 150, 243, 0.6);
}

.circulo.rosa.ativo::before {
    background-color: rgba(233, 30, 99, 0.6);
}

.circulo.amarelo.ativo::before {
    background-color: rgba(255, 235, 59, 0.6);
}

.blur {
    position: absolute;
    width: 90%;
    height: 60%;
    background-color: inherit;
    filter: blur(75px);
    top: 0;
    left: 0;
    border-radius: 70%;
    z-index: 0;
}

.imagem {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.botao-confirmar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: gray;
    color: white;
    transition: background-color 0.3s;
}

.botao-confirmar.azul {
    background-color: #59D1F6;
}

.botao-confirmar.rosa {
    background-color: #D42D85;
}

.botao-confirmar.amarelo {
    background-color: #FFB100;
}

.botao-confirmar:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}
